# Database
DATABASE_URL="postgresql://user:password@host:5432/database"

# Auth
NEXTAUTH_SECRET=""
NEXTAUTH_URL=""

# Stripe
STRIPE_SECRET_KEY=""
STRIPE_PUBLISHABLE_KEY=""
STRIPE_WEBHOOK_SECRET=""

# Email
RESEND_API_KEY=""

# App
NEXT_PUBLIC_APP_URL=""
